<header class="main-header">
    <% if back_link %>
        <%= link_to content_tag(:i, "", class: "fa-sharp fa-solid fa-arrow-left"), back_link, class: "nav-btn" %>
    <% else %>
        <button type="button" class="nav-btn"><i class="fa fa-bars"></i></button>
    <% end %>
    <h1><%= title.upcase %></h1>
    <% if user_signed_in? %>
        <%= button_to  content_tag(:i, "", class: "fa-solid fa-right-from-bracket"), destroy_user_session_path, method: :delete, class: "nav-btn text-right" %>
    <% elsif controller_name != 'sessions' %>
        <%= link_to content_tag(:i, "", class: "fa-solid fa-right-to-bracket"), new_user_session_path, class: "nav-btn text-right" %>
    <% else %>
        <%= link_to content_tag(:i, "", class: "fa-solid fa-user-plus"), new_user_registration_path, class: "nav-btn text-right" %>
    <% end %>
</header>

<%= render 'shared/alert' %>

<% if user_signed_in? %>
<div class="side-menu">
  <div class="side-header">
    <button type="button" class="nav-btn"><i class="fa fa-bars"></i></button>
    <h1 class="brand">CoinTrackr</h1>
  </div>
  <div class="profile-container">
    <div class="user-icon">
      <i class="fa-solid fa-user "></i>
    </div>
    <p class="user-name"><%= current_user.name %></p>
  </div>

  <div class="side-actions">
    <div class="action-group">
    <div class="action-icon">
      <i class="fa-solid fa-user"></i>
    </div>
      <p>Account Setting</p>
    </div>
    <div class="action-group">
    <div class="action-icon">
      <i class="fa-solid fa-user"></i>
    </div>
      <p>Account Setting</p>
    </div>
    <div class="action-group">
    <div class="action-icon">
      <i class="fa-solid fa-user"></i>
    </div>
      <p>Account Setting</p>
    </div>
  </div>
</div>
<% end %>